/* Style for the page title */
#pageTitle {
    font-size: 50px; /* Adjust the desired font size for the title */
    color: #00FF00; /* Green Lantern Green color */
    text-align: left; /* Left-align the text */
  }
  
   
  body {
      display: flex;
      flex-direction: column;
      align-items: left;
      /* justify-content: center; */
      min-height: 100vh;
      margin: 50;
      background-color: purple;
      
    }

    a{
        color: white;
    }
    h1{
      font-size: 40px;
      text-align: center;
    }
   h2{
    font-size: 30px; 
   }
    li{
      font-size: 25px;
    }
    
    hr {
      border: none;
      border-top: 3px double #333;
      color: #333;
      overflow: visible;
      text-align: center;
      height: 5px;
    }
    footer{
      color: white;
      text-align: center;
    }